<section>
  <div class="container-fluid" >
   
    <div class="row tt-pg-corp">
      <div class="col tt-pg-name">
        Mensalidades Dentalvidas - {{SelectClinicaDados.nm_unidade_atendimento}}
      </div>
    </div>

    <!-- DIV PROCESSANDO   -->
	<div class="loading" *ngIf="loading">
	    <div class="processando">
	        <div style="padding-top: 200px;">
	        	<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
	        </div>
	        <span class="sr-only">Loading...</span>
	    </div>
	</div>

    <div class="row finc-top-bord">
      <div class="col">
        <div class="row" style="height: 30px; padding-top: 2px;">
          <div class="col finc-bt-top "  >
              <a href="{{SelectClinicaDados.BaseIndex}}" > <i class="fa fa-reply finc-i-col-b" aria-hidden="true"></i> <strong> Voltar </strong> </a>
          </div>
          <div class="col finc-bd-l finc-bt-top" (click)="abrirTelaNotaFiscal()">
              <strong style="color:blue"> Tela Nota Fiscal </strong>
          </div>
          <div class="col finc-bd-l finc-bt-top">
              <i class="fa fa-file-pdf-o finc-i-col-b" aria-hidden="true"></i> <strong> Imprimir </strong>
          </div>
          <div class="col finc-bd-l">
              
          </div>
        </div>
      </div>
    </div> <!-- end row -->

    <div class="row finc-sub-bts">
      <form #formFiltros style="width: 95%" (ngSubmit)="buscarDados(true)">
		  <div class="col">
		    <div class="row">
	          <div class="col-md-2">
	            <div class="form-group frm-topo ">
	              <label class="lb-topo" >Início </label>
	              <my-date-picker name="mydate" [locale]="locale" [brmasker]="{mask:'00/00/0000', len:10}" [options]="myDatePickerOptions" [(ngModel)]="filtros.dataInicio" placeholder="{{dataHojeDMY}}" required minlength="10"></my-date-picker>
	            </div>
	          </div>
	          <div class="col-md-2">
	            <div class="form-group frm-topo ">
	              <label class="lb-topo" >Fim</label>
	              <my-date-picker name="mydate1" [locale]="locale" [brmasker]="{mask:'00/00/0000', len:10}" [options]="myDatePickerOptions" [(ngModel)]="filtros.dataFim" placeholder="{{dataHojeDMY}}" ng-required minlength="10"></my-date-picker>
	            </div>
	          </div>

		      <div class="col-md-3">
		        <div class="form-group frm-topo ">
		          <label class="lb-topo" > Unidade </label>
		            <ng-select class="custom"
		                [options]="ListUnidade"
		                [multiple]="multiple0"
		                placeholder="{{SelectClinicaDados.nm_unidade_atendimento}}"
		                [allowClear]="false"
		                (selected)="onSelectUnidade($event)">
		            </ng-select>
		        </div>
		      </div>

		      <div class="col-md-2">
		        <div class="form-group frm-topo ">
		          <label class="lb-topo" for="origem_filtro">Tipo Recebimento</label>
	              <select id="origem_filtro" name="origem_filtro" [(ngModel)]="filtros.origem" class="form-control inputTextDataFiltros" (change)="onChangeOrigem()">
	                <option value="autorizada" [selected]="filtros.origem == 'autorizada'">Autorizada (1ª Parcela)</option>
	                <option value="credenciada" [selected]="filtros.origem == 'credenciada'">Credenciada</option>
	              </select>
		        </div>
		      </div>

		      <div class="col-md-2">
		        <div class="form-group frm-topo ">
		          <label class="lb-topo" for="status_filtro">Status</label>
	              <select id="status_filtro" name="status_filtro" [(ngModel)]="filtros.status" class="form-control inputTextDataFiltros" (change)="onChangeStatus()">
	                <option value="todos" [selected]="filtros.status == 'todos'">Todos</option>
	                <option value="sem_lote" [selected]="filtros.status == 'sem_lote'">Lote Não Criado</option>
	                <option value="com_lote" [selected]="filtros.status == 'com_lote'">Lote Criado</option>
	              </select>
		        </div>
		      </div>

		      <div class="col-md-1">
		        <div>
	              <div>
	              	<br>
			        <button type="submit" class="btn btn-primary inputTextDataFiltros" style="width:120px" [disabled]="loading"  > <i class="fa fa-search" aria-hidden="true"></i>  Filtrar </button>
			      </div>
		        </div>
		      </div>
		    </div>
		  </div>
	  </form>
    </div> <!-- end row -->

    <div class="row">
      <div class="col finc-lista-relatorio" #GridRelatorio >    
        <div class="finc-bd-tb">  
          <table class="table table-bordered table-striped table-sm table-info">
	        <thead>
	          <tr style="background-color: #bbb">
	          	<th style="text-align: center;">#</th>
	            <th style="text-align: left;">Paciente</th>
	            <th style="text-align: center;">N° Parcela</th>
	            <th style="text-align: center;">Vencimento</th>
	            <th style="text-align: center;">Pagto Paciente</th>
	            <th style="text-align: center;">Disponível Dentalvidas</th>
	            <th style="text-align: center;">Valor Receber</th>
	            <th style="text-align: center;">Data Lote</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr *ngFor="let item of ListaDados; let i = index">
	          	  <td scope="row" style="text-align: center;">{{i+1}}</td>
	              <td style="text-align: left;"> {{item.nome_pessoa}}</td>
	              <td>{{item.num_parcela}}</td>
	              <td>{{formatDataYMDToDMY(item.data_vencimento)}}</td>
	              <td>{{formatDataYMDToDMY(item.data_pagamento)}}</td>
	              <td>{{formatDataYMDToDMY(item.data_valor_disponivel)}}</td>
	              <td>{{item.valor_receber | number:'1.2-2'}}</td>
	              <td>{{item.dt_geracao_lote}}</td>
	          </tr>
	        </tbody>
            <tfoot>
              <tr>
                <td style="font-weight: bold; text-align: left;" colspan="2">Valor Total Receber: R$ {{valorTotalReceber | number:'1.2-2'}}</td>
                <td style="font-weight: bold;" colspan="3">Valor Total Autorizado: R$ {{valorTotalAutorizado | number:'1.2-2'}}</td>
                <td style="font-weight: bold;" colspan="3"></td>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div><!-- end row -->
  </div> <!-- end container-fluid -->

</section>