.processando{
    top: 0;
    position: relative;
    float: left;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.38);
}

.loading{
    position: absolute;
    float: left;
    left: 0;
    width: 100%;
    height: 100%;
}

.inputTextDataFiltros {
    height: 34px!important;
    font-size: 0.75rem;
}

.inputFiltrosMarginBottomMenor {
    margin-bottom: .5rem;
}

ng-select.custom {
    background-color: #fff;
}
