<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="bckg-c">

  <!-- <app-financeiro></app-financeiro> -->

<div class=" ">

  <router-outlet></router-outlet>
</div> 

    <!-- <app-cursos></app-cursos> -->
  <!-- <div  *ngFor="let iten of flores"  >    {{iten}}  </div> 

  <p> usuario 
    <input type="text" [(ngModel)]="nome"  >
  </p>
  <p>
    senha 
     <input type="text" [(ngModel)]="senha" >
  </p> 
  <button (click)="logar()">LOGAR</button> 
-->
</div>


