<!-- <p>   conta-corrente-prestador works! </p> -->
<section>
    <div class="container-fluid">
        <div class="row tt-pg-corp">
            <div class="col tt-pg-name">
                Conta Corrente Prestador - {{SelectClinicaDados.nm_unidade_atendimento}}
            </div>
        </div>



        <div class="row finc-top-bord">
            <div class="col">
                <div class="row">
                    <div class="col finc-bt-top ">
                        <a href="{{SelectClinicaDados.BaseIndex}}">
                            <i class="fa fa-reply finc-i-col-b" aria-hidden="true"></i>
                            <strong> Voltar </strong>
                        </a>
                    </div>
                    <!-- <div class="col finc-bd-l finc-bt-top" (click)="NovoCredito(templateModalID3)">
                      <i class="fa fa-plus finc-i-col-b" aria-hidden="true"></i>
                      <strong> Crédito </strong>
                  </div>
                  <div class="col finc-bd-l finc-bt-top" (click)="Alterar(templateModalID5)">
                      <i class="fa fa-pencil-square-o finc-i-col-b" aria-hidden="true"></i>
                      <strong> Altera </strong>
                  </div>
                  <div class="col finc-bd-l finc-bt-top" (click)="Devolucao(templateModalID7)">
                      <i class="fa fa-share-square finc-i-col-b" aria-hidden="true"></i>
                      <strong> Devolução </strong>
                  </div>
                  <div class="col-2 finc-bd-l finc-bt-top" (click)="Transfere(templateModalID8)">
                      <i class="fa fa-exchange finc-i-col-b" aria-hidden="true"></i>
                      <strong> Transferência </strong>
                  </div>
                  <div class="col finc-bd-l finc-bt-top" (click)="Deletar(templateModalID6)">
                      <i class="fa fa-times finc-i-col-b" aria-hidden="true"></i>
                      <strong> Elimina </strong>
                  </div> -->
                    <div class="col finc-bd-l finc-bt-top" (click)="print()">
                        <i class="fa fa-file-pdf-o finc-i-col-b" aria-hidden="true"></i>
                        <strong> Imprimir </strong>
                    </div>

                </div>
            </div>
            <div class="col-3 finc-bd-l">
                <div class="row">
                    <!-- <div *ngIf="IsAdm == true"    class="col finc-bd-l finc-bt-top " (click)="RecalcularSaldoDispMd(templateModalID9)">
                          <i class="fa fa-cogs finc-i-col-b" aria-hidden="true"></i>
                          <strong class="clr-red"> Recalcular 'Saldo Disponível' </strong> 
                  </div> -->
                </div>
            </div>
        </div>
        <!-- end row -->



        <div class="row finc-sub-bts">

            <!-- <div class="col-3">
              <div class="form-group frm-topo ">
                  <label class="lb-topo"> Paciente </label>
                  <input type="text" class="form-control finc-inpt" placeholder="" disabled="true" [(ngModel)]="ObjSelec.PacienteSelecNome">
              </div>
          </div>

          <div class="col-2">
              <div class="form-group frm-bt-unic">
                  <button type="submit" class="btn btn-primary" (click)="SelectPaciente(templateModalID1)">
                      <i class="fa fa-search" aria-hidden="true"></i> Buscar Paciente </button>
              </div>
          </div> -->



            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <div class="form-group frm-topo ">
                            <label class="lb-topo">Início </label>
                            <form #myForm="ngForm" novalidate>
                                <!-- placeholder="{{DataHojeini}}" -->
                                <my-date-picker name="mydate" [locale]="locale" [brmasker]="{mask:'00/00/0000', len:10}" [options]="myDatePickerOptions"
                                    [(ngModel)]="model" required></my-date-picker>
                            </form>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group frm-topo ">
                            <label class="lb-topo">Fim</label>
                            <form #myForm="ngForm" novalidate>
                                <!-- placeholder="{{DataHojeFim}}" -->
                                <my-date-picker name="mydate1" [locale]="locale" [brmasker]="{mask:'00/00/0000', len:10}" [options]="myDatePickerOptions"
                                    [(ngModel)]="model1" required></my-date-picker>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1">
                <div class="form-group frm-bt-unic">
                    <button type="submit" class="btn btn-primary col-12 ft-12" [disabled]="Process" (click)="BuscarFinaceiro()">
                        <i class="fa fa-refresh " aria-hidden="true"></i> Atualizar </button>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group frm-topo ">
                    <label class="lb-topo"> Unidade </label>
                    <!-- <select class="form-control finc-inpt" id="exampleSelect1"  [(ngModel)]="uni"  >
                          <option *ngFor="let u of ListUnidade" [value]="u.value"   >{{u.label}}</option>
                      </select> -->
                    <ng-select style="background-color: #fff;" [options]="ListUnidade" [multiple]="multiple0" placeholder="{{UnidadeNome}}" [allowClear]="true"
                        (selected)="onSelectUnidade($event)">
                    </ng-select>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group frm-topo ">
                    <label class="lb-topo"> Prestador </label>
                    <!-- <select class="form-control finc-inpt" id="exampleSelect1"  [(ngModel)]="uni"  >
                        <option *ngFor="let u of ListUnidade" [value]="u.value"   >{{u.label}}</option>
                    </select> -->
                    <ng-select style="background-color: #fff;" [options]="DrUnidade" [multiple]="multiple0" placeholder="..." [allowClear]="true"
                        (selected)="onPrestadoUnidad($event)">
                    </ng-select>
                </div>
            </div>

        </div>
        <!-- end row -->





        <div class="row">
            <!-- <div class="container-fluid finc-lista-relatorio"  > -->
            <div class="col finc-lista-relatorio">

                <div class="finc-ccc-processando" *ngIf="caregandoFinc">
                    <div class="processando">
                        <i class="fa fa-refresh  fa-spin fa-3x fa-fw processando-i"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>


                <div class="finc-bd-tb">
                    <table class="table table-striped table-hover-fic finc-table" id="finc-tb" style="margin-bottom: 0;">
                        <thead class="thead-default">
                            <tr>
                                <th width="5%" style="text-align: center;">#</th>
                                <th width="10%" style="text-align: center;" title="Data Tranferencia">Data</th>
                                <th width="" style="text-align: center;">Prestador</th>
                                <th width="15%" style="text-align: center;">Histórico</th>
                                <th width="10%" style="text-align: center;">Filial</th>
                                <th width="7%" style="text-align: center;">Débito</th>
                                <th width="9%" style="text-align: center;">Crédito</th>
                                <!-- <th width="10%" style="text-align: center;">Usuario</th> -->

                                <th width="1%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="finc-bd-tb finc-table-responsive">
                    <table class="table table-striped table-hover-fic finc-table" id="finc-tb">
                        <tbody class="ft-12">
                            <ng-template ngFor let-ListFinancGridU [ngForOf]="ListFinancGrid" let-i="index">
                                <!--  (click)="FincaTrSelect(ListFinancGridU,i)"  <tr   [class.table-hover-fic-Selected]="i == FincTrselectedRow"  [class.finc-td-debito]="ListFinancClinica.tipo_movimento == 'D'"   *ngFor="let ListFinancClinica of ListFinancClinicaGrid; let i = index " > -->
                                <tr [class.table-hover-fic-Selected]="i == FincTrselectedRow" [class.finc-td-debito]="ListFinancGridU.transacao == 'D'">
                                    <th width="5%" scope="row" style="text-align: center;">{{i+1}}</th>
                                    <td width=""> {{ListFinancGridU.dataShow }} </td>
                                    <td width=""> {{ListFinancGridU.apelido }} </td>
                                    <td width=""> {{ListFinancGridU.nm_unidade_atendimento }} </td>
                                    <!-- <td width="5%" style="text-align: right;" (click)="detalhesFinac(templateModalID2,ListFinancGridU)">
                                        <i class="fa fa-search-plus"> </i>
                                    </td> -->
                                    <!-- [class.table-Debito-td]="ListFinancGridU.transacao == 'D'"  -->
                                    <td width="10%" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                        {{ListFinancGridU.valor_parcela | formatCurrency}} </td>
                                    <td width="10%" style="text-align: center;" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                        {{ListFinancGridU.valor_credito | formatCurrency}} </td>

                                    <td width="5%" style="text-align: center;" (click)="detalhesFinac(templateModalID1,ListFinancGridU)">
                                        <i class="fa fa-search-plus"> </i>
                                    </td>

                                    <td width="5%" style="text-align: center;" (click)="ReciboFinac(templateModalID2,ListFinancGridU)">
                                        <i class="fa fa-file-o"> </i>
                                    </td>



                                    <td width="1%"></td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 ">
                    <div class="row totais-rodape">
                        <!-- {{TotalSaldo  | formatCurrency }} -->
                        <div class="col-6">
                            <span>
                                <strong>Total Saldos</strong>
                            </span>
                        </div>
                        <div class="col-2">
                            <!-- <span><strong> Valor : </strong>  {{TotalTranzacao  | formatCurrency }}  </span>  -->
                            <span><strong>Entradas : </strong> {{TotalEntrada | formatCurrency }} </span>
                        </div>
                        <div class="col-2">

                            <span><strong>Saidas : </strong> {{TotalSaida | formatCurrency }} </span>
                            <!-- <button type="submit" class="btn btn-primary" (click)="a()">
                            <i class="fa fa-cogs" aria-hidden="true"></i> Recalcular </button> -->

                            <!-- <label class="clr-red"   (click)="NovoCredito(templateModalID3)">
                                <i class="fa fa-cogs finc-i-col-b" aria-hidden="true"></i>
                                <strong > Recalcular </strong>
                            </label> -->
                        </div>
                        <div class="col-2">
                                <!-- <span><strong> Valor : </strong>  {{TotalTranzacao  | formatCurrency }}  </span>  -->
                                <span><strong>Saldo: </strong> {{TotalSaldo | formatCurrency }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- /****************************************************************************************
    * MODAL
    * PRESTADOR PARCELAS 
    */ -->


    <ng-template #templateModalID1>
        <div class="modal-header tt-md-corp">
            <h4 class="modal-title pull-left tt-md-name">Detalhar movimento</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span class="tt-md-close" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- This is static modal, backdrop click will not close it.
              Click <b>&times;</b> to close modal. -->
            Prestador: {{SelectPrestadoNome}}
            <div class="row">


                <div class=" finc-sub-bts w-100">
                    <div class="finc-bd-tb w-100">
                        <table class="table table-striped table-hover-fic finc-table" id="finc-tb" style="margin-bottom: 0;">
                            <thead class="thead-default">
                                <tr>
                                    <th width="5%" style="text-align: center;">#</th>
                                    <th width="10%" style="text-align: center;">Realização</th>
                                    <th width="" style="text-align: center;">Prestador</th>
                                    <th width="10%" style="text-align: center;">Lançamento</th>
                                    <th width="26%" style="text-align: center;">Detalhes</th>
                                    <th width="6%" style="text-align: center;">Valor</th>
                                    <th width="6%" style="text-align: center;">Desconto</th>
                                    <th width="6%" style="text-align: center;">Comissão</th>
                                    <th width="6%" style="text-align: center;">Débito</th>
                                    <th width="6%" style="text-align: center;">Crédito</th>
                                    <!-- <th width="10%" style="text-align: center;">Usuario</th> -->

                                    <th width="1%"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="finc-bd-tb finc-table-responsive w-100">
                        <table class="table table-striped table-hover-fic finc-table" id="finc-tb">
                            <tbody class="ft-12">
                                <ng-template ngFor let-ListFinancGridU [ngForOf]="ListFinancDTHGrid" let-i="index">

                                    <tr (click)="FincaTrSelect(ListFinancGridU,i)" [class.table-hover-fic-Selected]="i == FincTrselectedRow" [class.finc-td-debito]="ListFinancGridU.transacao == 'D'">
                                        <th width="5%" scope="row" style="text-align: center;">{{i+1}}</th>
                                        <td width=""> {{ListFinancGridU.dataShow }} </td>
                                        <td width=""> {{SelectPrestadoNome }} </td>
                                        <td width="10%" style="text-align: center;"> {{ListFinancGridU.categoria }} </td>
                                        <td width="26%"> <strong>Pac.: </strong> {{ListFinancGridU.nm_paciente }} <br>
                                            <strong>Preferencia Pac.: </strong> {{ListFinancGridU.preferencia }} <br>
                                            <strong>Trat.: </strong> {{ListFinancGridU.tratamento }} <br>
                                            <strong>Inter.: </strong> {{ListFinancGridU.nm_intervencao }} ( {{ListFinancGridU.regiao
                                            }} ) <br>
                                            <strong>Filial: </strong> {{ListFinancGridU.nm_unidade_atendimento }} <br>
                                            <strong>Histórico: </strong> {{ListFinancGridU.historico }} </td>
                                        <!-- STA FALTANDO UM ITEN NAO IDENTIFIQUEI $bkg -->
                                        <td width="6%" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                            {{ListFinancGridU.vlintervencao | formatCurrency}} </td>
                                        <td width="6%" style="text-align: center;" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                            {{ListFinancGridU.abatimentos | formatCurrency}} </td>
                                        <td width="6%" style="text-align: center;" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                            {{ListFinancGridU.comissao | formatCurrency}} </td>
                                        <td width="6%" style="text-align: center;" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                            {{ListFinancGridU.valor_parcela | formatCurrency}} </td>
                                        <td width="6%" style="text-align: center;" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                            {{ListFinancGridU.valor_credito | formatCurrency}} </td>



                                        <td width="1%"></td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>



                <!-- <div class=" finc-sub-bts"> 
                                    <div class="col-6">
                                        <div class="form-group frm-topo ">
                                            <label class="lb-topo" > Saldo Total: </label>  
                                            <input type="text" class="form-control finc-inpt"  disabled="true"  [(ngModel)]="FormSaldoAnt"  currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" >
                                        </div>
                                    </div>
                
                                    <div class="col-6"   *ngFor="let CaixaAntIPT of FormCaixaAntIPTs;let i = index "    >
                                        <div class="form-group frm-topo ">
                                            <label class="lb-topo" > {{CaixaAntIPT.nm_categoria_plano_conta}} </label>
                                            <input type="text" class="form-control finc-inpt"   (keyup)="onchagerSaldo(MDARRAY)" (keypress)="onchagerSaldo(MDARRAY)" (ngOnChanges)="onchagerSaldo(MDARRAY)"  [(ngModel)]="MDARRAY[CaixaAntIPT.cpc]"  [id]="CaixaAntIPT.cpc"  #elem  (click)="FumMovCusorOfEnd(elem)"    placeholder="R$: 0,00"   currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" >
                                        </div>
                                    </div>
                            </div> -->

                <div class="col finc-sub-bts ">
                    <div class="col mgt-15">
                        <button type="button" class="btn btn-primary float-right" (click)="modalRef.hide()">Fechar </button>
                    </div>
                </div>

            </div>
        </div>
    </ng-template>






    <!-- /****************************************************************************************
    * MODAL
    * PRESTADOR PARCELAS 
    */ -->


    <ng-template #templateModalID2>
        <div class="modal-header tt-md-corp">
            <h4 class="modal-title pull-left tt-md-name">Imprimir Recibo</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span class="tt-md-close" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                    <!-- This is static modal, backdrop click will not close it.
                            Click <b>&times;</b> to close modal. -->
                <div>
                    <div class="row tituloReviboLinha"> 
                        <div class="col-8 tituloRecibo"> <h4> RECIBO - {{SelectPrestadoNome}} </h4>  </div>  
                        <div class="col-3 tituloValor  " currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" 
                        >   {{ MD.valor_credito| formatCurrency}}  </div>  
                        <div class="col-1 ">  </div>  
                    </div>

                    <div class="row ">   </div>

                    <div class="row tituloReviboLinha">
                        <div class="col-12 mgt-10 mgb-10" >
                            Recebi de {{SelectClinicaDados.nm_unidade_atendimento}}, a quantia de {{ValorAExtenso}}.
                            Referente a parceria em trabalhos odontologicos no período {{MD.ReciboDTIni}} à {{MD.ReciboDTFim}}.
                        </div>

                        <div class="col-12" >
                            <div class="finc-bd-tb">
                                <table class="table table-striped table-hover-fic finc-table" id="finc-tb" style="margin-bottom: 0;">
                                    <thead class="thead-default">
                                        <tr>
                                            <th width="5%" style="text-align: center;">#</th>
                                            <th width="" style="text-align: center;" >Paciente</th>
                                            <th width="" style="text-align: center;">Intervenção</th>
                                            <th width="17%" style="text-align: center;">Dt Realização</th>
                                            <th width="15%" style="text-align: center;">Comissão(R$)</th>
                                            <th width="15%" style="text-align: center;">Desconto (R$)</th>
                                            <!-- <th width="10%" style="text-align: center;">Usuario</th> -->
                                            <th width="1%"></th>
                                        </tr>
                                    </thead>

                                    <tbody class="ft-12">
                                        <ng-template ngFor let-ListFinancGridU [ngForOf]="ListFinancGridR" let-i="index">
                                            <tr  >
                                                <th width="" scope="row" style="text-align: center;">{{i+1}}</th>
                                                <td width=""> {{ListFinancGridU.nm_paciente }} </td>
                                                <td width=""> {{ListFinancGridU.nm_intervencao }} </td>
                                                <td width="" style="text-align: center;" > {{ListFinancGridU.dt_realizacao }} </td>
                                                <td width="" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                                    {{ListFinancGridU.valor_credito | formatCurrency}} </td>
                                                <td width="" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                                                    {{ListFinancGridU.desconto | formatCurrency}} </td>
                                                <td width="1%"></td>
                                            </tr>
                                        </ng-template>
                                    </tbody>
                                



                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row ">   
                        <div class="col-12">

                            {{ startDateDia }} de     {{ MesAnoComplt[startDateMesInt] }} de {{startDateAno}}



                        </div>
                        <div class="col-2">

                        </div>
                        <div class="col-8   ">
                            <div class="col-12 assinat">
                               
                            </div>
                            <div class="col-12 assinatNome">
                                    {{SelectPrestadoNome}}
                            </div>
                                
                        </div>
                        <div class="col-2">

                        </div>

                    </div>




                    <div class="row">
                        <div class="col finc-sub-bts ">
                            <div class="col mgt-15">
                                <button type="button" class="btn btn-primary float-right" (click)="Imprimir()" >Imprimir</button>
                            </div>
                        </div>
                    </div>


                </div>
        </div>
    </ng-template>




















</section>